---
professor: N Malevris
credits: "6"
tags:
  - course
  - AUEB
---
[[AUEB Courses]]

___
## Lectures

```dataview
table date
from "AUEB Lectures" AND #software
```

___

## Assignments

```dataview
table deadline
from "Assignments" AND #software
```

